@import '../../styles/vars.scss';

.ac_container {
  width: 100%;
  margin-bottom: 125px;
  border-bottom: 1px solid black;
}

.ac_container label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
}

.ac_container label p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
  color: $primary-text-color;
  font-size: 2rem;
  padding-right: 10px;
}

.ac_container label:hover:after,
.ac_container input:checked+label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
}

.ac_container input {
  display: none;
}

.ac_container article {
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  text-align: center;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac_container input:checked~article {
  width: 100%;
  text-align: center;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}