@import '../../styles/vars.scss';

.projects {

  &__title {
    font-size: 4.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $main-page-title-color;
    margin-bottom: 76px;
  }

  &__descr {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 23px;
    text-align: left !important;
  }

  &__additional {
    margin-top: 50px;
    margin-bottom: 125px;
  }

  &__additional_info {
    font-size: 2rem;
    color: $primary-text-color;
    line-height: 32px;
    margin-right: 5px;
  }

  &__additional_link {
    background-color: transparent;
    color: $main-page-title-color;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 600;
    border-bottom: 2px solid $main-page-title-color;
  }
}