@import '../../styles/vars.scss';

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__link {
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $primary-text-color;
    text-decoration: none;
  }

  &__link_active {
    color: $secondary-text-color !important;
  }

  &__item:not(:last-child) {
    margin-right: 38px;
  }
}

@media (max-width: 625px) {
  .nav {
    display: none;
  }
}