$page-title: 4.2rem;
$page-subtitle: 3.2rem;

//background
$page-bg-color: #F3F2EE;

//text-color
$main-page-title-color: #5776A7;
$primary-text-color: #131313;
$secondary-text-color: #A9AAAC;

//btn border color
$btn-border-color: #AAAAAA;